// import de arquivos padrão
@import '../_base/_import';

.clear{
	&:before,
	&:after{
		content: '';
		width: 100%;
		clear: both;
		display: block;
	}
}


.text-features{
	margin-bottom: 40px;
	text-align: center;

	.block-header{
		margin-bottom: 40px;
	}

	.feature-text-item{
		@media screen and (max-width: 767px){
			margin-bottom: 50px;
		}

		.item-title{
			color: $dark-blue;
			font-weight: 800;
			margin-bottom: 14px;
		}

		.item-ico{
			display: block;
			font-size: 1.5em;
			color: $main-blue;
			margin-bottom: 12px;
		}

		.item-text{
			font-weight: normal;
			line-height: 26px;
			font-size: 1em;
			color: #0F2566;
			margin-bottom: 15px;
		}

		.item-link{
			color: $main-blue;
			font-weight: 400;
			font-size: 1em;
			text-decoration: none;

			i{
				margin-left: 5px;
				font-size: 0.8em;
			}
		}
	}
}

@media screen and (min-width: 768px){
	.text-features{
		margin-bottom: 160px;

		.block-header{
			margin-bottom: 33px;
		}

		.block-content{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			float: left;
			width: 100%;

			.item-content{
				margin-bottom: 40px;
				@media screen and (min-width: 1200px){
					margin-bottom: 20px;
				}
			}

			.item-link{
				position: absolute;
				width: 100%;
				bottom: 0;
				left: 0;
				text-align: center;
				z-index: 10;

				@media screen and (min-width: 1200px){
					text-align: left;
					padding-left: 75px;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px){
}

@media screen and (min-width: 1200px){
	.text-features{
		margin-bottom: 185px;
		text-align: left;

		.block-header{
			margin-bottom: 60px;
		}

		.feature-text-item{
			.item-title{
				margin-bottom: 25px;

				span{
					display: block;
				}
			}

			.item-ico{
				width: 60px;
				float: left;
			}

			.item-content{
				width: calc(100% - 60px);
				float: left;
			}
		}
	}
}


.blue-acount-box{
	padding: 35px 20px 30px;
	background-image: url(../images/mobile-box-bg.jpg);
	margin-bottom: 30px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;

	.label{
		font-weight: 500;
		line-height: 22px;
		font-size: pxToEm(18);
		color: $soft-blue;
		margin-bottom: 5px;
	}

	.box-title{
		color: $white;
		font-weight: 800;
		line-height: 52px;
		margin-bottom: 30px;
	}

	@media screen and (max-width: 767px){
		text-align: center;
	}
}

@media screen and (min-width: 768px){

	.blue-acount-box{
		padding: 33px 40px 39px;
		background-image: url(../images/tablet-box-bg.jpg);
		margin-bottom: 70px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
        justify-content: space-between;

		.box-btn{
			width: 250px;
		}
		
		.label{
			font-size: pxToEm(20);
		}

		.box-title{
			margin-bottom: 0;
			line-height: 44px;
			
			@media screen and (max-width: 1199px){
				span{
					display: block;
				}
			}
		}
	}
}

@media screen and (min-width: 1200px){
	.blue-acount-box{
		padding: 56px 60px 52px;
		background-image: url(../images/desk-box-bg.jpg);
		margin-bottom: 60px;
	}
}


.help-box{
	margin-bottom: 100px;
	text-align: center;

	.box-content{
		width: 285px;
		max-width: 100%;
		margin: 0 auto;
	}

	.h3{
		font-weight: 800;
		margin-bottom: 10px;
	}

	p{
		margin-bottom: 30px;
		font-size: 1em;
		text-align: center;
		color: #0F2566;
	}
}

@media screen and (min-width: 768px){
	.help-box{
		margin-bottom: 60px;
	}
}

@media screen and (min-width: 1200px){
	.help-box{
		margin-bottom: 100px;
	}
}