// import de arquivos padrão
@import '../_base/_import';

.btn{
	cursor: pointer;
	display: inline-block;
	outline: none;
	text-decoration: none;
	@include transition(background .3s, color .3s);

	&.small{
		padding: 10px 17px;
	}

	&.medium{
		padding: 15px 18px;
	}

	&.white{
		background: $white;
		color: $main-blue;
		border-radius: 4px;
		font-weight: bold;
		font-size: 1em;
		text-align: center;
		border: 1px solid $white;

		&.h-ghost:hover{
			background: transparent;
			border: 1px solid $white;
			color: $white;
		}
	}

	&.ghost{
		background: transparent;
		color: $main-blue;
		border: 1px solid $main-blue;

		&:hover{
			background: $main-blue;
			border: 1px solid $main-blue;
			color: $white;
		}
	}

	&.rounded{
		height: 40px;
		border-radius: 20px;
	}

	&.blue{
		color: $white;
		background: $main-blue;
	}
	&.orange{
		color: $white;
		background: $orange;
	}

	&.square-w{
		width: 100%;
		height: 50px;
		padding: 15px 10px;
		display: block;
		margin: 0 auto;
		border-radius: 4px;
		font-weight: bold;
		font-size: 1em;
		text-align: center;
		max-width: 100%;

		&.w-280{
			width: 280px;
		}
	}
}

// BOTAO QUE É SETA E VIRA
.more-to-arrow{
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	border: 1px solid $main-blue;

	.shape-1{
		width: 2px;
		height: 12px;
		background: $main-blue;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -1px;
		margin-top: -6px;
		@include transition(margin-left .3s, margin-top .3s, transform .3s);
	}
	.shape-2{
		width: 12px;
		height: 2px;
		background: $main-blue;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -6px;
		margin-top: -1px;
		@include transition(margin-left .3s, margin-top .3s, transform .3s);
	}

	&.active{
		.shape-1{
			margin-left: 1px;
			margin-top: -10px;
			transform: rotate(-45deg);
		}
		.shape-2{
			margin-left: -4px;
			margin-top: 3px;
			transform: rotate(-45deg);
		}
	}

	@media screen and (max-width: 1199px){
		&.active{
			.shape-1{
				margin-left: 3px;
				margin-top: -5px;
				transform: rotate(45deg);
			}
			.shape-2{
				margin-left: -9px;
				margin-top: 0px;
				transform: rotate(45deg);
			}
		}
	}

}


@media screen and (min-width: 768px){
}

@media screen and (min-width: 768px) and (max-width: 1199px){
}

@media screen and (min-width: 1200px){
}
