// import de arquivos padrão
@import '../_base/_import';

.como-comprar{
	margin-bottom: 40px;

	.arrow-animate{
		margin-top: 28px;
		position: relative;
		text-align: center;

		.arrow{
			width: 8px;
			height: 8px;
			border-radius: 100%;
			background: $main-blue;
			color: $main-blue;
			margin: 0 auto;

			@media screen and (max-width: 1199px){
				transform: rotate(90deg);
			}

			i{
				position: absolute;
				left: 12px;
				top: -2px;
				font-size: 0.9em;
				display: block;
				width: 20px;
				text-align: right;
				@include transition(width 2s);

				&:after{
					content: '';
					display: block;
					position: absolute;
					top: 6px;
					left: -9px;
					z-index: 0;
					height: 1px;
					width: 100%;
					background: $main-blue;
				}

				&:before{
					position: absolute;
					right: 0;
					top: 0px;
					z-index: 0;
				}
			}
		}

		&.active{
			.arrow{
				i{
					width: 1180px;
				}
			}
		}

		@media screen and (min-width: 768px){
			display: none;
		}

		@media screen and (min-width: 1260px){
			display: block;
			text-align: left;

			.label{
				display: inline-block;
				color: $main-blue;
				font-weight: 600;
				font-size: pxToEm(18);
				margin-right: 20px;
			}

			.arrow{
				display: inline-block;
				position: relative;
			}

			&.active{
				.arrow{
					i{
						width: 1070px;
					}
				}
			}
		}
	}

	.block-header{
		text-align: center;
		margin-bottom: 48px;

		.title{
			font-weight: 400;
			color: $main-blue;
			margin-bottom: 8px;
		}

		.subtitle{
			font-weight: 400;
			line-height: 24px;
			font-size: pxToEm(18);
			color: $grey;
		}
	}

	.como-comprar-item{
		background: $white;
		border: 1px solid $main-blue;
		border-radius: 10px;
		display: block;
		width: 100%;
		text-align: center;
		padding: 20px 20px 30px;
		position: relative;
		@include transition(box-shadow .3s, border .3s);

		&:hover{
			box-shadow: 0px 10px 80px #C3CCE5;
			border: 1px solid $white;
		}

		.title{
			font-size: pxToEm(28);
			color: $main-blue;
			margin-bottom: 12px;
		}
	}

	.item-number{
		position: absolute;
		left: -14px;
		top: -14px;
		z-index: 10;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		background: $main-blue;
		text-align: center;
		color: $white;
		font-weight: 800;
		font-size: pxToEm(20);
		padding: 10px 0;
	}

	.item-img{
		height: 160px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-bottom: 15px; 

		img{
			max-height: 100%;
		}
	}

	.item-text{
		color: $grey;
		line-height: 22px;
		font-size: 1em;
	}
}

@media screen and (max-width: 767px){
	.como-comprar{
		.container{
			width: 310px;
		}

		.como-comprar-item{
			margin-bottom: 60px;
		}
	}
}

@media screen and (min-width: 768px){
	.como-comprar{
		margin-bottom: 70px;

		.como-comprar-item{
			height: 270px;
			padding: 10px;
		}

		.item-img{
			height: 120px;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px){
	.como-comprar{
		.como-comprar-item{
			.title{
				font-size: pxToEm(24);
				margin-bottom: 0;
			}
		}

		.item-img{
			padding: 0 10px;
		}
	}
}

@media screen and (min-width: 1200px){
	.como-comprar{
		margin-bottom: 120px;

		.block-header{
			text-align: left;

			.title{
				margin-top: 35px;
			}
		}

		.como-comprar-item{
			height: 340px;
			padding: 20px 25px 30px;
		}

		.item-img{
			height: 170px;
		}
	}
}