// import de arquivos padrão
@import '../_base/_import';

form{
	*{
		outline: none;
	}

	textarea{
		resize: none;
	}
}

@media screen and (min-width: 768px){
}

@media screen and (min-width: 768px) and (max-width: 1199px){
}

@media screen and (min-width: 1200px){
}


.email-form{

	form{
		display: block;
		width: 100%;
		height: 60px;
		background: $white;
		border: 1px solid $main-blue;
		border-radius: 30px;
		padding: 9px 20px;
		position: relative;

		.input{
			height: 38px;
			width: 100%;
			padding-right: 170px;
		}

		.btn{
			position: absolute;
			right: 10px;
			top: 9px;
			z-index: 9;

			i{
				font-size: 0.650em;
				margin-left: 3px;
			}
		}
	}

}
@media screen and (min-width: 768px) and (max-width: 1199px){
	.email-form form{
		margin-top: -70px;
	}
}
