// import de arquivos padrão
@import '../_base/_import';


@media screen and (max-width: 372px){
}

@media screen and (min-width: 768px){
}

@media screen and (min-width: 768px) and (max-width: 1199px){
}

@media screen and (min-width: 1200px){
}


.tcenter{
	text-align: center;
}

.twhite{
	color: $white;
}

// LABEL DO TOPO DAS PAGES
.top-label{
	display: block;
	margin-bottom: 10px;
	text-align: center;

	span{
		display: inline-block;
		border-radius: 12px;
		font-size: pxToEm(13);
		font-weight: 500;
		padding: 5px 10px;
	}


	&.grey{
		span{
			background: $white-blue;
			color: $grey;
		}
	
		&.w-blue{
			span{
				background: rgba(27, 65, 179, 0.6);
				color: $white;
			}
		}
	}
}

@media screen and (min-width: 768px){
	.top-label{
		text-align: left;
	}
}

@media screen and (min-width: 1200px){
	.top-label{
		margin-bottom: 20px;
	}
}



// títulos
.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6{
	font-weight: 400;
	color: $grey;

	strong{
		color: $main-blue;
		font-weight: 800;
	}

	&.blue{
		color: $main-blue;
	}
	&.dark-blue{
		color: $dark-blue;
	}
}

.h1, h1{
	font-size: pxToEm(36);
}
.h2, h2{
	font-size: pxToEm(36);
}
.h3, h3{
	font-size: pxToEm(28);
}
.h4, h4{
	font-size: pxToEm(14);
}
.h5, h5{
	font-size: pxToEm(12);
}
.h6, h6{
	font-size: pxToEm(12);
}

@media screen and (min-width: 768px){
	.h1, h1{
		font-size: pxToEm(40);
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px){
	.h3, h3{
		font-size: pxToEm(24);
	}
}

@media screen and (min-width: 1199px){
	.h1, h1{
		font-size: pxToEm(52);
	}
	.h2, h2{
		font-size: pxToEm(42);
	}
}

.default-page{

	@media screen and (min-width: 768px){
		.logo svg path{
			fill: $white;
		}

		.fixed .logo svg path{
			fill: $main-blue;
		}
	}

	.top-bg-about{
		width: 100%;
		height: 274px;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		overflow: hidden;
		
		.the_bg{
			position: absolute;
			top: 0;
			right: -50px;
			z-index: 0;
			width: 862px;
			height: 274px;
			background: url(../images/about-bg-1.svg);
			background-repeat: no-repeat;
		}



	}
	@media screen and (min-width: 768px){
		.top-bg-about{
			height: 373px;

			.the_bg{
				width: 1079px;
				height: 371px;
				right: -190px;
				background-image: url(../images/about-bg-2.svg);
			}
		}
	}

	@media screen and (min-width: 1200px){
		.top-bg-about{
			height: 473px;

			.the_bg{
				width: 1792px;
				height: 473px;
				right: -300px;
				background-image: url(../images/about-bg-3.svg);
			}
		}
	}


	.page-top-sec .title{
		@media screen and (min-width: 768px){
			color: $white;
			font-size: pxToEm(52);
		}
	}
}

 
.default-page{
	.page-top-sec{
		margin-bottom: 80px;

		@media screen and (max-width: 767px){
			text-align: center;
		}
	}

	.main-content{
		margin-bottom: 75px;

		.content-subtitle{
			font-weight: 800;
			line-height: 34px;
			font-size: pxToEm(28);
			color: #1B41B2;
			margin-bottom: 20px;
		}

		p{
			font-weight: normal;
			line-height: 30px;
			font-size: 1em;
			color: #0F2566;
			margin-bottom: 20px;
		}

		.small{
			font-size: pxToEm(14);
			line-height: normal;
		}

		.featured-text{
			color: #1B41B2;
			line-height: normal;
		}

		li{
			font-weight: normal;
			font-size: 1em;
			color: #0F2566;
			margin-bottom: 20px;
		}

		ul{
			padding-left: 20px;
		}

		.sec-title{
			position: relative;
			margin-bottom: 30px;
			margin-top: 40px;
			&:first-child{
				margin-top: 0;
			}

			.title{
				background: $white;
				padding-right: 20px;
				display: inline-block;
				font-weight: 800;
				line-height: 30px;
				font-size: pxToEm(24);
				text-transform: uppercase;
				color: #1B41B2;


				@media screen and (min-width: 768px){
					padding-right: 35px;
				}
			}

			&:after{
				content: '';
				width: 100%;
				height: 4px;
				background: #DAE0F2;
				left: 0;
				top: 50%;
				position: absolute;
				z-index: -1;
				margin-top: -2px;
			}
		}
	}

	.sidebar{
		padding-left: 20px;

		&.absolute{
			position: absolute;
			left: 20px;
			z-index: 0;
		}

		ul{
			list-style: none;
			padding: 0;
			border-left: 2px solid #DAE0F2;

			li{
				padding: 2px 0 2px 10px;
				margin-left: -4px;
				margin-bottom: 20px;
				border-left: 4px solid transparent;

				a{
					font-weight: 500;
					font-size: 13px;
					color: #989EB2;
					text-decoration: none;
				}

				&.active{
					border-left: 4px solid $main-blue;
					a{
						color: $main-blue;
						font-weight: 800;
					}
				}
			}
		}
	}

	.numbered{
		p{
			position: relative;
		}

		.number{
			position: absolute;
			top: 2px;
			left: -35px;
			z-index: 0;
			font-weight: 800;
			line-height: normal;
			font-size: pxToEm(18);
			color: $label-grey;
		}
	}

	
	@media screen and (max-width: 1199px){
		.numbered{
			padding-left: 35px;
		}
	}
}


@media screen and (min-width: 768px){
	.default-page{
		.page-top-sec{
			margin-bottom: 130px;
		}

		.main-content{
			margin-bottom: 100px;
		}

	}
	.about .page-top-sec{
		.title{
			max-width: 330px;
		}
	}
}

@media screen and (min-width: 1200px){
	.default-page{
		.page-top-sec{
			margin-bottom: 255px;
		}

		.main-content{
			margin-bottom: 115px;
		}
	}
}




@media screen and (max-width: 767px){
	.custom-container{
		width: 100%;
		padding: 0;

		.row{
			margin: 0;
		}

		.col-xs-12{
			width: 350px;
			max-width: 100%;
			margin: 0 auto;
			float: none;
		}

		.table-container{
			width: 100%;
			padding: 0;
		}

		.container-inner{
			padding: 0 calc(50vw - 160px);
			width: 320px;
			box-sizing: content-box;
			overflow-x: scroll;
			margin: 0 auto;
		}
	}
}

// TABLES
.table-sec{
	width: 100%;
	margin-bottom: 30px;
}
@media screen and (min-width: 768px){
	.table-sec{
		margin-bottom: 50px;
	}
}
@media screen and (min-width: 1200px){
	.table-sec{
		margin-bottom: 75px;
	}
}

.table-container{
	max-width: 100%;
	overflow: hidden;


	.Table {
		min-width: 650px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: nowrap;
		    flex-wrap: nowrap;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		border-radius: 10px 10px 0 0;
		font-size: pxToEm(14);
		overflow: hidden;

		@media screen and (min-width: 1200px){
			font-size: 1em;
		}

		.icon-info{
			color: #26B7FF;
			font-size: 1em;
			margin-left: 5px;
		}

		.Table-col{
			// width: 100%;
			flex:1;
		}

		.Table-row-item{
			padding: 0 15px;
			color: $grey;
			height: 50px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			        align-items: center;

			&:nth-child(even){
				background: #F2F5FF;
			}
			&:nth-child(odd){
				background: #fff;
			}

			&.header{
				background: $main-blue;
				color: $white;
			}
		}
	}
}

.table-tag{
	margin: 10px 0 0;
	text-align: center;
}
