// import de arquivos padrão
@import '../_base/_import';

.grafico{
	margin-bottom: 60px;

	.block-header{
		margin-bottom: 28px;
		text-align: center;

		.title{
			margin-bottom: 12px;
		}

		.subtitle{
			font-weight: 400;
			line-height: 24px;
			font-size: pxToEm(18);
			color: $grey;
		}
	}

	// CONTEUDO DO GRAFICO
	.grafico-container{
		padding: 30px 20px 40px;
		background: $white;
		box-shadow: 0px 10px 80px #C3CCE5;
		border-radius: 10px;

		.the-chart{
			position: relative;
			img{
				width: 100%;
			}
		}

		.chart-bullet{
			width: 13px;
			height: 13px;
			background: $main-blue;
			border-radius: 100%;
			position: absolute;
			z-index: 9;
			cursor: pointer;

			.label{
				display: none;
				position: absolute;
				width: 200px;
				left: -93px;
				bottom: 90px;

				&.active{
					display: block;
				}

				&.top{
					padding-bottom: 0;

					.line{
						display: block;
						width: 1px;
						height: 1px;
						background: $main-blue;
						position: absolute;
						z-index: -1;
						left: 50%;
						margin-left: -1px;
						bottom: -90px;
					}
				}

				.date{
					font-weight: 800;
					color: $grey;
					font-size: 1em;
					margin-bottom: 10px;
				}

				p{
					font-size: pxToEm(18);
					color: $grey;
				}

				.label-content{
					overflow: hidden;
					width: 0;
				}

				.label-box{
					background: $white;
					padding: 22px 25px 30px;
					border: 1px solid $main-blue;
					border-radius: 10px;
					width: 200px;
				}
			}
		}
	}
}

@media screen and (max-width: 767px){
}

@media screen and (min-width: 768px){
	.grafico{
		margin-bottom: 30px;

		.block-header{
			margin-bottom: 50px;

			.subtitle{
				font-weight: 600;
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px){

}

@media screen and (min-width: 1200px){
	.grafico{
		margin-bottom: 80px;

		.block-header{
			margin-bottom: 60px;
			text-align: left;

			.title{
				margin-bottom: 20px;
			}
		}
	}
}