// import de arquivos padrão
@import '../_base/_import';

.faq-sec{
	margin-bottom: 100px;
	max-width: 100%;
	overflow: hidden;
	@media screen and (max-width: 1199px){
		.block-header{
			text-align: center;
			margin-bottom: 40px;
		}
	}

	.call-to-action{
		text-align: center;

		.label{
			font-weight: 600;
			line-height: 37px;
			font-size: pxToEm(18);
			color: $grey;
			margin-bottom: 15px;
			width: 100%;
		}
	}
}


// ACCORDION
.accordion-block{
	margin-bottom: 5px;

	.item-button{
		display: block;
		padding: 15px 0px 15px 15px;
		background: $white;
		border: 1px solid $dark-grey;
		border-radius: 10px;
		cursor: pointer;
		margin-bottom: 10px;
		position: relative;

		.label{
			font-weight: bold;
			line-height: 37px;
			font-size: pxToEm(18);
			color: $grey;

			@media screen and (min-width: 768px){
				font-size: pxToEm(22);
				line-height: normal;
			}
		}

		.button{
			position: absolute;
			right: 30px;
			top: 50%;
			margin-top: -15px;
		}
	}

	.item-content{
		display: none;
		margin-bottom: 30px;

		p{
			margin-bottom: 15px;
			line-height: 30px;
			font-size: 1em;
			color: #0F2566;
		}
	}

	@media screen and (max-width: 1199px){
		.item-text{
			padding: 0 15px;
		}
	}

	.active{

		.item-button{
			border: 1px solid $main-blue;

			.label{
				color: $main-blue;
			}
		}

		.more-to-arrow{
			border: 1px solid $white;
			background: $main-blue;
		}

		.button{
			.shape-1,
			.shape-2{
				background: $white;
			}
		}
	}
}


@media screen and (max-width: 372px){
}

@media screen and (min-width: 768px){
	.faq-sec{
		margin-bottom: 0;
		margin-top: -119px;

		.block-header{
			margin-bottom: 60px;
		}
		
		.container{
			padding-top: 119px;
			padding-bottom: 130px;
			min-height: 960px;

		}

		.faq-bg{
			display: block;
			width: 956px;
			height: 956px;
			position: absolute;
			left: -140px;
			top: 0;
			z-index: -1;
			background: url(../images/opac-shape.svg);
			background-size: contain;
		}

		.call-to-action{
			.label{
				width: 270px;
				display: inline-block;
			}

			a{
				display: inline-block;
			}
		}
	}

	.accordion-block{
		margin-bottom: 40px;

		@media screen and (max-width: 1199px){
			.item-text{
				padding: 0 35px;
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px){
}

@media screen and (min-width: 1200px){
	.faq-sec{
		margin-top: -205px;

		.container{
			padding-top: 205px;
			padding-bottom: 224px;
		}

		.faq-bg{
			left: -285px;
		}
	}

	.accordion-block{
		.item-content{
			position: absolute;
			right: -540px;
			top: 10px;
			z-index: 10;
			width: 470px;

			p{
				margin-bottom: 55px;
			}
		
			a.btn{
				width: 280px;
				margin: 0;
			}
		}


		.content-title{
			font-weight: bold;
			line-height: 37px;
			margin-bottom: 25px;
		}

		.item-button{
			width: 100%;
			@include transition(width .3s);
		}
		
		.active{
			.item-button{
				background: $main-blue;
				width: calc(100% + 40px);

				.label{
					color: $white;
				}
			}
		}
	}
}