// import de arquivos padrão
@import '../_base/_import';


@media screen and (max-width: 372px){
}

@media screen and (min-width: 768px){
}

@media screen and (min-width: 768px) and (max-width: 1199px){
}

@media screen and (min-width: 1200px){
}