// import de arquivos padrão
@import '../_base/_import';

// SIMULADOR
.simulador{
	width: 300px;
	max-width: 100%;
	margin: 0 auto;
	position: absolute;

	&:after{
		content: '';
		mix-blend-mode: multiply;
		background: $white;
		box-shadow: 0px 10px 60px #C3CCE5;
		border-radius: 4px;
		width: 100%;
		height: 294px;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: -1;
	}

	@media screen and (min-width: 768px){
		margin: 0;
	}

	.title{
		display: block;
		text-align: center;
		margin-bottom: 10px;
		font-weight: 600;
		font-size: pxToEm(24);
	}

	.simulador-box{
		border-radius: 4px;
		width: 100%;
		background: $white;
	}

	.simulador-type{
		display: block;
		border-bottom: 1px solid $dark-grey;
		padding: 0 20px;

		.type-item{
			width: 50%;
			height: 40px;
			padding: 13px;
			float: left;
			margin-bottom: -1px;
			cursor: pointer;
			font-weight: 600;
			line-height: normal;
			font-size: pxToEm(14);
			text-align: center;
			text-transform: uppercase;
			color: $label-grey;

			&.active{
				color: $main-blue;
				border-bottom: 2px solid $main-blue;
			}
		}
	}

	.simulador-form{
		padding: 25px 25px 30px;
	}

	input{
		outline: none;
	}

	.simulador-input{
		margin-bottom: 15px;
		width: 100%;
		border-bottom: 1px solid $dark-grey;
		position: relative;
		padding-right: 40px;

		.money-simbol{
			position: absolute;
			bottom: 1px;
			right: 0;
			font-size: 1.875em;
		    color: #989EB2;
		    font-weight: 400;
		}

		&:nth-child(2){
			margin-bottom: 20px;
		}

		label{
			font-weight: 600;
			line-height: normal;
			font-size: pxToEm(12);
			color: $main-blue;
		}

		input{
			display: block;
			width: 100%;
			height: 38px;
			font-size: pxToEm(30);
			color: #575B66;
			font-weight: 400;

			&:-ms-input-placeholder{
				color: $label-grey;
			}
			&::-ms-input-placeholder{
				color: $label-grey;
			}
			&::placeholder{
				color: $label-grey;
			}
		}
	}

	.text-bottom{
		font-weight: normal;
		line-height: normal;
		font-size: pxToEm(12);
		text-align: center;
		color: $label-grey;
		display: block;
		margin-bottom: -19px;
		margin-top: 10px;
	}
}


.simulador-bottom{
	margin-bottom: 50px;
	padding: 30px 0 20px;
	position: relative;

	.dropdown{
		display: none;
		background: #FFFFFF;
		border: 1px solid #DAE0F2;
		box-shadow: 0px 10px 50px #C3CCE5;
		border-radius: 4px;
		position: absolute;
		width: 100%;
		height: 155px;
		overflow-y: scroll;
		top: 47px;
		left: 0;
		z-index: 10;

		.item{
			padding: 2px 0;
			color: #637AAB;
			text-align: center;

			&:hover{
				background: #F2F5FF;
			}
		}
	}

	.container{
		position: initial;
	}

	.container:before{
		content: '';
		display: block;
		border: 1px solid $main-blue;
		border-radius: 10px;
		width: 295px;
		height: 100%;
		position: absolute;
		left: 50%;
		margin-left: -148px;
		top: 0;
		z-index: -1;
	}

	.simulador-text{
		font-weight: normal;
		line-height: 46px;
		font-size: 30px;
		text-align: center;
		color: $grey;
		padding: 15px 10px;
		background: $white;
		box-shadow: 0px 10px 80px #C3CCE5;
		border-radius: 10px;
		max-width: 100%;
		@media screen and (max-width: 767px){
			width: 335px;
		}
	}

	.text-input{
		display: inline-block;
		padding: 0 5px;
		border-radius: 4px;
		background: $dark-blue;
		position: relative;
		line-height: 41px;

		&.ano{
			padding-right: 30px;
			padding-left: 8px;
			cursor: pointer;
			width: 103px;

			.more-year,
			.less-year{
				font-size: 0.3em;
				width: 30px;
				height: 10px;
				cursor: pointer;

				i{
					display: block;
				}
			}
			.more-year{
				display: block;
				position: absolute;
				right: 0;
				top: 8px;
				z-index: 10;

				i{
					transform: rotate(-90deg);
				}
			}
			.less-year{
				display: block;
				position: absolute;
				right: 1px;
				bottom: 8px;
				z-index: 10;

				i{
					transform: rotate(90deg);
				}
			}
		}

		&,*{
			color: $white;
		}

		input{
			display: inline-block;
			outline: none;

			&.number-mask{
				min-width: 54px;
				max-width: 90px;
			}

			&:-ms-input-placeholder{
				color: $white;
			}
			&::-ms-input-placeholder{
				color: $white;
			}
			&::placeholder{
				color: $white;
			}
		}
	}

	.result{
		color: $main-blue;
		font-weight: 800;
		white-space: nowrap;
	}

	.call-to-action{
		width: 255px;
		margin: 30px auto 0;

		.subtitle{
			color: $main-blue;
			font-weight: 600;
			font-size: pxToEm(18);
			margin-bottom: 20px;
			display: block;
		}
	}
}

@media screen and (min-width: 768px){
	.simulador-bottom{
		margin-bottom: 70px;

		.container:before{
			width: 600px;
			margin-left: -301px;
		}

		.simulador-text{
			padding: 35px 50px 27px;
		}

		@media screen and (max-width: 1199px){
			.call-to-action{
				width: 525px;

				.subtitle{
					float: left;
					margin-top: 13px;
				}

				a{
					max-width: 250px;
					float: right;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px){
}

@media screen and (min-width: 1200px){
	.simulador-bottom{
		margin-bottom: 130px;
		padding: 30px 0;

		.container{
			position: relative;
		}

		.container:before{
			width: 970px;
			height: calc(100% + 60px);
			margin: 0;
			top: -30px;
			right: 0;
			left: initial;
		}

		.simulador-text{
			padding: 32px 50px 35px 40px;
			max-width: 820px;
			float: left;
		}

		.call-to-action{
			margin-top: 36px;
			margin-right: 45px;
			float: right;
		}
	}
}
