// Fontes
$fontSize: 16;

// CORES
$black: #212121;
$white: #fff;

$grey: #637AAB;
$dark-grey: #C3CCE5;
$light-grey: #F2F5FF;
$label-grey: #989EB2;

$main-blue: #2255FF;
$dark-blue: #1B41B3;
$soft-blue: #26B7FF;
$white-blue: #DAE0F2;

$orange: #FF7900;

$top-legend: rgba(27, 65, 179, 0.6);

// FONTES

$mainfont: 'CircularStd', sans-serif;