// import de arquivos padrão
@import '../_base/_import';

.main-footer{
	padding-top: 170px;
	padding-bottom: 123px;
	background-image: url('../images/footer-m-bg.svg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	position: relative;

	.logo{
		margin-bottom: 155px;
	}

	@media screen and (max-width: 1199px){
		.footer-info, .container{
			position: initial;
		}
	}

	.footer-menu{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.copyright{
		p{
			font-weight: normal;
			line-height: 16px;
			font-size: pxToEm(10);
			color: $soft-blue;
		}

		@media screen and (max-width: 1199px){
			position: absolute;
			left: 0;
			bottom: 20px;
			z-index: 10;
			width: 100%;

			span{
				display: block;
			}

			p{
				width: 320px;
				max-width: calc(100% - 30px);
				margin: 0 auto;
				padding-top: 12px;
				border-top: 1px solid $soft-blue;

				@media screen and (min-width: 768px){
					width: 690px;
					text-align: center;
					font-size: pxToEm(12);

					span{
						display: inline-block;
						border-left: 1px solid $soft-blue;
						padding-left: 15px;
						margin-left: 15px;
					}
				}
			}
		}

	}

	.menu-block{
		float: left;
		width: 50%;
	}

	.menu-title{
		font-weight: 900;
		line-height: normal;
		font-size: pxToEm(18);
		text-transform: uppercase;
		color: $white;
		margin-bottom: 20px;
	}

	ul{
		list-style: none;
		list-style-type: none;
		margin-bottom: 10px;

		li{
			margin-bottom: 20px;
		}

		a{
			font-size: 1em;
			color: #26B7FF;
			text-decoration: none;
			font-weight: 500;

			&:hover{
				color: #fff;
			}
		}
	}
}


@media screen and (max-width: 767px){
}


@media screen and (min-width: 768px){
	.main-footer{
		background-image: url('../images/footer-t-bg.svg');
		padding-top: 160px;

		.menu-block{
			width: auto;
		}

		.footer-menu{
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px){
}

@media screen and (min-width: 1200px){
	.main-footer{
		background-image: url('../images/footer-bg.svg');
		padding-top: 287px;
		padding-bottom: 127px;
		background-size: auto;

		.logo{
			margin-bottom: 80px;
		}

		.copyright p{
			color: #265CFF;
			font-size: pxToEm(14);
		}
	}
}


.redes{
	margin-top: 20px;

	a{
		display: inline-block;
		color: $white;
		font-size: 1.4em;
		text-decoration: none;
		margin-right: 10px;
	}
}


.scroll-to-top{
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 99;
	width: 50px;
	height: 50px;
	cursor: pointer;

	&:after{
		content: '';
		mix-blend-mode: multiply;
		box-shadow: 0 10px 60px #c3cce5;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: -1;
		border-radius: 10px;
	}
}