// import de arquivos padrão
@import '../_base/_import';
@import '../_layout/_menu';

body.default-m-top{
	padding-top: 93px;
}

.main-header{
	padding: 20px 0;
	width: 100%;
	height: 65px;
	position: absolute;
	left: 0;
	top: 0;
	@include transition(top .5s);

	&.fixed{
		background: $white;
		position: fixed;
		// box-shadow: 0px 10px 60px #C3CCE5;
		z-index: 999;

		&:before{
			content: '';
			mix-blend-mode: multiply;
			box-shadow: 0 10px 60px #c3cce5;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: -1;
		}

		&.to-bottom{
			top: -100px;
		}
	}

	.logo-img{
		width: 130px;
	}
}

@media screen and (min-width: 768px){
	body.default-m-top{
		padding-top: 130px;
	}

	.main-header{
		height: 90px;

		&.fixed{
			height: 70px;
			box-shadow: 0px 10px 60px #E6E9F2;
			padding: 10px 0;

			.main-list .primary{
				color: $main-blue;
			}

			.btn.white{
				color: $white;
				background:$main-blue;

				&:hover{
					background: $main-blue;
				}
			}
		}

		.logo{
			margin-top: 13px;
			display: block;
		}

		.logo-img{
			width: 120px;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px){
}

@media screen and (min-width: 1200px){
	body.default-m-top{
		padding-top: 180px;
	}
}


.default-page{
	.main-header{
		.menu-btn{
			.btn.white{
				background: $main-blue;
				color: $white;
				border: 1px solid $main-blue;
			}
		}
	}
}


.not-home .main-header .menu-btn .btn.white{
	background: $orange !important;
	border: 1px solid $orange;
}