// import de arquivos padrão
@import '../_base/_import';

.main-nav{
	text-align: right;

	.hamburger{
		display: inline-block;
		margin-top: 2px;
	}

	a{
		text-decoration: none;
	}
}

@media screen and (max-width: 767px){
	.menu-list{
		display: block;
		position: fixed;
		top: 65px;
		right: -110vw;
		width: 100vw;
		height: calc(100vh - 65px);
		background: $white;
		z-index: 999;
		text-align: left;
		@include transition(right .5s);
		padding-bottom: 125px;

		&.active{
			right: 0;
			z-index: 999;
		}

		.main-list{
			width: 320px;
			height: calc(100vh - 200px);
			display: block;
			margin: 0 auto;
			padding-top: 30px;
			border-top: 1px solid $dark-grey;
			border-bottom: 1px solid $dark-grey;
			overflow: auto;
			max-width: calc(100% - 40px);

			&>li{
				display: block;
				margin-bottom: 10px;
			}
		}

		.primary{
			font-weight: bold;
			line-height: 30px;
			font-size: pxToEm(22);
			letter-spacing: 1px;
			text-transform: uppercase;
			color: $main-blue;
			margin-bottom: 20px;
			display: block;
		}

		.sub{
			color: #989EB2;
			font-weight: bold;
			line-height: 30px;
			font-size: pxToEm(18);
		}

		.mobile-login{
			position: absolute;
			z-index: 99;
			bottom: 95px;
			left: 0;
			width: 100%;
			text-align: center;
			padding-top: 25px;
			color: #0F2566;

			a{
				color: $main-blue;
				font-weight: bold;
			}
		}

		div.menu-btn{
			width: 100%;
			position: absolute;
			bottom: 0;
			z-index: 99;
			padding: 20px;

			a{
				width: 320px;
				display: block;
				margin: 0 auto;
				border-radius: 4px;
				background: $main-blue;
				font-weight: bold;
				font-size: 1em;
				text-align: center;
				color: $white;
				max-width: 100%;
			}
		}
	}
}

@media screen and (min-width: 768px){
	.main-nav{
		.hamburger{
			display: none;
		}
	}

	.main-list{
		li{
			display: inline-block;
			margin-left: 30px;
		}

		.primary{
			font-weight: 900;
			line-height: normal;
			font-size: 1em;
			color: $white;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px){
}

@media screen and (min-width: 1200px){
}


// Animação do menu hamburger - Settings
// ==================================================
$hamburger-padding-x                       : 15px !default;
$hamburger-padding-y                       : 15px !default;
$hamburger-layer-width                     : 30px !default;
$hamburger-layer-height                    : 4px !default;
$hamburger-layer-spacing                   : 4px !default;
$hamburger-layer-color                     : #000 !default;
$hamburger-layer-border-radius             : 4px !default;
$hamburger-hover-opacity                   : 1 !default;
$hamburger-hover-transition-duration       : 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter    : opacity(50%) !default;

// Types (Remove or comment out what you don’t need)
// ==================================================
$hamburger-types: (
  slider
) !default;


// Hamburger
// ==================================================
.hamburger {
  padding: 0;
  display: inline-block;
  cursor: pointer;

  transition-property: opacity, filter;
  transition-duration: $hamburger-hover-transition-duration;
  transition-timing-function: $hamburger-hover-transition-timing-function;

  // Normalize (<button>)
  font: inherit;
  color: $grey;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  outline: none;

  &:hover {
    @if $hamburger-hover-use-filter == true {
      filter: $hamburger-hover-filter;
    }
    @else {
      opacity: $hamburger-hover-opacity;
    }
  }
}

.hamburger-box {
  width: $hamburger-layer-width;
  height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: $hamburger-layer-height / -2;

  &,
  &::before,
  &::after {
    width: $hamburger-layer-width;
    height: $hamburger-layer-height;
    background-color: $grey;
    border-radius: 0;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }

  &::after {
    bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }
}


@if index($hamburger-types, slider) {
  /*
   * Slider
   */
  .hamburger--slider {
    .hamburger-inner {
      top: $hamburger-layer-height / 2;

      &::before {
        top: $hamburger-layer-height + $hamburger-layer-spacing;
        transition-property: transform, opacity;
        transition-timing-function: ease;
        transition-duration: 0.15s;
      }

      &::after {
        top: ($hamburger-layer-height * 2) + ($hamburger-layer-spacing * 2);
      }
    }

    &.is-active {
      .hamburger-inner {
        $y-offset: $hamburger-layer-spacing + $hamburger-layer-height;

        transform: translate3d(0, $y-offset, 0) rotate(45deg);

        &::before {
          transform: rotate(-45deg) translate3d($hamburger-layer-width / -7, $hamburger-layer-spacing * -1, 0);
          opacity: 0;
        }

        &::after {
          transform: translate3d(0, $y-offset * -2, 0) rotate(-90deg);
        }
      }
    }
  }
}
