// colaboradores: Daniel Fabricio

// Estilos base
@import '_base/_reset';
@import '_base/_base';


.about{
	.page-secont-title {
		margin-bottom: 25px;
	}

	.main-content{
		margin-bottom: 50px;
	}

	.about-desc{
		margin-bottom: 25px;
		padding-bottom: 27px;

		&:after{
			content: '';
			display: block;
			position: absolute;
			left: 15px;
			bottom: 0;
			z-index: 0;
			width: 120px;
			height: 4px;
			background: $white-blue;
		}

		p{
			font-weight: 600;
			line-height: 26px;
			font-size: 1em;
			color: $grey;
		}
	}

	.about-content{
		p{
			line-height: 24px;
			font-size: 1em;
			color: #0F2566;
			margin-bottom: 15px;
		}
	}

	.tagline{
		font-weight: 600;
		font-size: pxToEm(18);
		color: #1B41B2;
	}
}

@media screen and (min-width: 768px){
	.about{
		.main-content{
			margin-bottom: 25px;
		}


		.page-secont-title {
			margin-bottom: 45px;

			h2{font-size: pxToEm(42);}

			span{
				display: block;
				font-weight: 800;
			}
		}

		.about-desc{
			padding-top: 27px;

			&:after{
				width: calc(100% - 30px);
			}

			&:before{
				content: '';
				display: block;
				position: absolute;
				left: 15px;
				top: 0;
				z-index: 0;
				width: calc(100% - 30px);
				height: 4px;
				background: $white-blue;
			}

			p{
				font-size: pxToEm(18);
				line-height: 30px;
			}
		}

		.about-content{
			p{
				line-height: 30px;
			}
		}
	}
}


@media screen and (min-width: 1200px){
	.about{
		.about-desc{
			padding-top: 0;
			padding-bottom: 0;

			p{			
				max-width: 390px;
				position: relative;
				padding: 0 0 0 20px;

				&:before{
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					z-index: 0;
					width: 4px;
					height: 100%;
					background: $white-blue;
				}
			}

			&:after,
			&:before{
				display: none;
			}
		}

		.about-content{
			margin-top: -130px;
		}
	}
}


.investidores{
	margin-bottom: 80px;

	.sec-title{
		margin-bottom: 40px;
	}

	.investidores-item{
		margin-bottom: 40px;
		width: 100%;
	}

	@media screen and (min-width: 768px){
		@media screen and (max-width: 1199px){
			.sub-row{
				margin: 0 -20px;
			}
		}

		.investidores-item{
			width: 50%;
			padding: 0 20px;
			float: left;
		}
	}

	.item-img{
		margin-bottom: 15px;
		height: 54px;
	}

	.item-content{
		line-height: 30px;
		font-size: 1em;
		color: $grey;
		margin-bottom: 6px;
	}

	.item-link{
		width: 100%;
		display: block;
		text-align: right;
		font-weight: 500;
		line-height: 22px;
		font-size: 1em;
		text-align: left;
		color: #265CFF;
		text-decoration: none;

		i{
			margin: 0 0 0 40px;
			font-size: 0.8em;
		}
	}
}


@media screen and (min-width: 768px){
	.investidores{
		padding-top: 60px;
		background-image: url(../images/investidores_bg.svg);
		background-position: 0px 8%;
		background-size: 100% auto;
		margin-bottom: 100px;
	}
}

@media screen and (min-width: 1200px){
	.investidores{
		padding-top: 220px;
		background-image: url(../images/investidores_bg_2.svg);
		margin-bottom: 150px;
	}
}