// colaboradores: Daniel Fabricio

// Estilos base
@import '_base/_reset';
@import '_base/_base';

// Modulos
@import '_modules/_simulador';
@import '_modules/_comocomprar';
@import '_modules/_grafico';

// CSS PARA O SITE TODO
@import '_app';

// TEMP
@import 'about.scss';

.top-bg .the_bg{
	@media screen and (max-width: 767px){
		display: none;
	}

	img{
		max-width: none;
	}

	.bg-1{
		position: absolute;
		bottom: 80px;
		left: 500px;
		z-index: 0;
	}
	.bg-2{
		position: absolute;
		z-index: -1;
		bottom: 40px;
		left: -440px;
	}

	@media screen and (min-width: 768px) and (max-width: 1199px){
		.bg-1{
			width: 740px;
			bottom: 110px;
			left: 240px;
		}
		.bg-2{
			width: 1150px;
			bottom: 30px;
			left: -260px;
		}
	}
}

// SIMULADOR
.top-simulator{
	// temp
	height: 350px;
}

.top-desc{
	.title{
		margin-bottom: 25px;
	}
}


.top-sec{
	margin-bottom: 40px;
}

@media screen and (min-width: 768px){
	.top-sec{
		margin-bottom: 130px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px){
}

@media screen and (min-width: 1200px){
}

@media screen and (min-width: 1199px){
	.home .top-desc .title{
		font-size: 3.15em;
	}
}